<%= form_with(model: patient) do |form| %>

  <div>
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
    <% if patient.errors[:first_name].any? %>
      <div role="alert">
        <%= patient.errors.full_messages_for(:first_name).join(", ") %>
      </div>
    <% end %>
  </div>

  <div>
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
    <% if patient.errors[:last_name].any? %>
      <div role="alert">
        <%= patient.errors.full_messages_for(:last_name).join(", ") %>
      </div>
    <% end %>
  </div>

  <div>
    <%= form.label :date_of_birth %>
    <%= form.datetime_field :date_of_birth %>
    <% if patient.errors[:date_of_birth].any? %>
      <div role="alert">
        <%= patient.errors.full_messages_for(:date_of_birth).join(", ") %>
      </div>
    <% end %>
  </div>

  <div>
    <%= form.label :doctor %>
    <%= form.collection_select :doctor_id, User.where(role: 'doctor').order(:first_name), :id, :full_name_and_speciality %>
  </div>

  <div>
    <%= form.label :appointment_date %>
    <%= form.datetime_field :appointment_date %>
    <% if patient.errors[:appointment_date].any? %>
      <div role="alert">
        <%= patient.errors.full_messages_for(:appointment_date).join(", ") %>
      </div>
    <% end %>
  </div>

  <div>
    <%= form.label "Any Allergies?" %>
    <%= form.text_area :allergies %>
  </div>

  <div>
    <%= form.label "Chief Complaints:" %>
    <%= form.text_area :chief_complaints %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>